<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <link rel="stylesheet" href="styles.css" />
  <body>
    <div class="container">
      <%- include('includes/header') %>
      <div class="content-wrapper">
        <!-- Main column -->
        <div class="main-column">
          <div class="box">
            <div class="box-title">九勇 먫왏얧썛쥄햦햟햧 혞햠햩햦햨햟혡햦혪</div>

            <form
              action="/edit-post/<%= post.id %>"
              method="POST"
              class="post-form"
            >
              <% errors.forEach(error => { %>
              <p class="notice"><%= error %></p>
              <% }) %>

              <fieldset>
                <label for="title"><small>행햟햡햩햟쒫쟳</small></label>
                <input
                  type="text"
                  value="<%= post.title %>"
                  id="title"
                  name="title"
                  autocomplete="off"
                  class="form-input"
                />

                <label for="body"><small>햐혥햢혥햤햟햫햦햣</small></label>
                <textarea name="body" id="body" class="form-textarea">
<%= post.body %></textarea
                >

                <div class="form-actions">
                  <button class="btn btn-primary">游 행햟햟향햦 쮏쨿왏쫧쟴햣</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>

        <!-- Sidebar -->
        <div class="right-sidebar">
          <div class="box">
            <div class="box-title">游 쮏햣향햫햦 혜혥쒫왐햦</div>
            <ul class="category-list">
              <li>쮏쒫왐햣혝햣 햟쒫쮏햦혜햟 햣햢햦 향햟햟향쒫썛쫧</li>
              <li>햊향쮏향쒫썛좜햣 햟햠향햟혡햦 향햟 혢햣혝햦햪쮐혝</li>
              <li>햏햣 향햟햠햟쒬햧혝햣 햢햟 향햟햟향햦혝햣 쮏쨿왏쫧쟴햣</li>
            </ul>
          </div>

          <div class="box">
            <div class="box-title">游늭 햄혥향햦 쒬혥향햨햦</div>
            <ul class="category-list">
              <li><a href="/">游 햏햟혢햟햩</a></li>
              <li><a href="/create-post">九勇 햏쮏쒫 혞햠햩햦햨햟혡햦혪</a></li>
              <li><a href="/logout">游뛁 햊향혠쮏</a></li>
            </ul>
          </div>
        </div>
      </div>

      <%- include('includes/footer') %>
    </div>
  </body>
</html>
